<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dailyanalysisuser.css">
    <title>Daily Analysis User</title>
</head>
<body>
    <nav class="navbar">
     
        <!-- <div class="main-title"><a href="Homepagemain.html"  ><b>Cafeteria</b></a></div> -->
        <div class="wrapper">
          <label for="toggler" style="color: black;">☰</label>
          <input type="checkbox" id="toggler">
          <div class="sidebar">
             <ul class="menu">
                <h1 style="font-size: 1.5rem;"><a href="#">Cafeteria</a></h1>
                <li><a id="orderHistory">Order History</a></li>
                <% vendordata.forEach(vendor => { %>
                    <li><a href="/menu/<%= vendor._id %>"><%= vendor.canteenName %></a></li>
                    <% }); %>
                <li><a id="dailyuser">Daily order Analysis</a></li>
                <li><a id="monthlyuser">Monthly order Analysis</a></li>
                <li><a href="/addreview">Add Review </a></li>
                <li><a href="/review">Reviews</a></li>
                <li><a href="/announcements">Announcements</a></li>
                <li><a id = "accountpage">Account</a></li>
             </ul>
          </div>
          <span class="main-title"><a href="#"  ><b>Daily analysis of user</b></a><span>
        <span class="navbar-links">
                <a href="/">Logout</a></li>
          </span>
    </nav>
    <div class="maintitle">
      
      <h1>  <span>Order Details of&nbsp;</span><span id="current_date"></span></h1>
    </div>
   
    <% if (orderData.length === 0) { %>
        <p style="font-size: 1.5rem;margin-left: 100px; color: red;">No orders for this Day.</p>
    <% } else { %>
        <table class="reviews-table">
            <thead>
                <tr  class="first">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Token</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Canteen Name</th>
                    <th>Order Time</th>
                </tr>
            </thead>
            <tbody>
                <% 
                var totalPrice = 0; // Initialize the total price variable
                
                orderData.forEach(order => { %>
                    <tr>
                        <td><%= order.name %></td>
                        <td><%= order.price %></td>
                        <td><%= order.quantity %></td>
                        <td><%= order.token %></td>
                        <td><%= order.status %></td>
                        <td><%= order.role %></td>
                        <td><%= order.canteenName %></td>
                        <td><%= new Date(order.date).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></td>
                    </tr>
                    
                    <% 
                    totalPrice += order.price; // Add the current order's price to the total price
                }); %>
            </tbody>
        </table>
        
        <!-- Display the total price -->
        <div class="total">Total Amount: <button id="addreviewbutton">&nbsp;&nbsp;<%= totalPrice %>&nbsp;&nbsp;</button></div>
       
        
    <% } %>
  <script>
        
        window.onload = function() {
            const userId=sessionStorage.getItem('userId');
            const dailyUserLink = document.getElementById('dailyuser');
            const monthlyUserLink = document.getElementById('monthlyuser');
            const orderHistoryLink = document.getElementById('orderHistory');
            const accountPageLink = document.getElementById('accountpage');

            dailyUserLink.addEventListener('click', function() {
                window.location.href = `/dailyuser/${userId}`;
            });

            monthlyUserLink.addEventListener('click', function() {
                window.location.href = `/monthlyuser/${userId}`;
            });

            orderHistoryLink.addEventListener('click', function() {
                window.location.href = `/orderHistory/${userId}`;
            });

            accountPageLink.addEventListener('click', function() {
                window.location.href = `/accountpage/${userId}`;
            });
        };
        date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year; 
       </script>
</body>
</html>